[submodule "feature-mode"]
	path = feature-mode
	url = https://github.com/michaelklishin/cucumber.el.git
[submodule "color-theme-sanityinc-solarized"]
	path = color-theme-sanityinc-solarized
	url = https://github.com/purcell/color-theme-sanityinc-solarized.git
[submodule "egg"]
	path = egg
	url = https://github.com/bogolisk/egg.git
[submodule "anything-config"]
	path = anything-config
	url = git://repo.or.cz/anything-config.git
[submodule "yasnippet-jstl"]
	path = yasnippet-jstl
	url = git@github.com:eentzel/yasnippet-jstl.git
[submodule "yaml-mode"]
	path = yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "full-ack"]
	path = full-ack
	url = https://github.com/eentzel/full-ack.git
[submodule "tuareg-mode"]
	path = tuareg-mode
	url = https://github.com/afeinberg/tuareg-mode
[submodule "Fill-Column-Indicator"]
	path = Fill-Column-Indicator
	url = https://github.com/alpaker/Fill-Column-Indicator.git
[submodule "expand-region.el"]
	path = expand-region.el
	url = https://github.com/magnars/expand-region.el.git
